@font-face {
  font-family: "Engravers bold";
  src:
    url("../fonts/EngraversBold.ttf");
}

body {
  margin: 0;
  background-color: black;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
  color: white;
}

h1, h2, h3, h4, h5, h6, a, p, li, button {
  font-family: 'Engravers bold';
}

h2 {
  font-size: 50px;
}

.uppercase {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.fullscreen {
  height: 100vH;
  width: 100%;
}

.fullwidth {
  width: 100%;
}

.fullheight {
  height: 100%;
}

.relative {
  position: relative;
}

.scrollSpacer_c {
  width: 100%;
  display: block;
  height: 20px;
}

.black-bg {
  height: 100%;
  background-color: black;
}

.introAnimation-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 70;
}

.introAnimation-wrapper .logo-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.introAnimation-wrapper .logo-container .logo {
  max-width: 300px;
  z-index: 5;
}

#hero {
  padding-right: 15px;
  width: calc(100% - 15px);
  z-index: 60;
}

#hero, #hero__world__img-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#hero__bg-first {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url('../../assets/images/stars-bg-placeholder.jpg');
  z-index: 5;
}

#hero__bg-black-gradient, #loftRestaurant__bg-black-gradient, .bg-black-gradient {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 15;
  background: radial-gradient(transparent 15%, rgb(0 0 0 / 59%) 70%);
}

#hero__world {
  position: absolute;
  top: 0;
  left: 0;
}

#hero__world__img-container {
  overflow: hidden;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
}

#hero__world__img {
  height: 60%;
  opacity: 0;
  z-index: 10;
}

#hero__luna__img {
  width: 88px;
  opacity: 1;
  z-index: 11;
  position: absolute;
  left: -200px;
  top: 49%;
}

#hero__main-title {
  position: absolute;
  width: 100%;
  top: 75px;
  left: 0;
  opacity: 1;
  z-index: 20;
}

#zodiac-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: -15%;
  opacity: 0;
  transform: scale(0.8);
  z-index: 15;
}

#zodiac-wrapper a {
  width: calc(25% - 10px);
  opacity: 0.64;
  transition: all 0.3s ease-in-out;
  display: inline-block;
}

#zodiac-wrapper a img {
  width: 100%;
}

#zodiac-wrapper a:hover {
  opacity: 1;
}

#zodiac-wrapper a:first-child, #zodiac-wrapper a:last-child {
  position: relative;
  top: 25%;
}

#scrollSectionsAfterHero {

}

#leaves {
  overflow-x: clip;
  overflow-y: visible;
  min-height: auto;
  position: absolute;
  padding-top: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 45;
}

#leaves .leaves-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 100%);
  z-index: 10;

  display: none;
}

#leaves .leaves__img {
  position: absolute;
  z-index: 15;
}

#leaves .leaves__img:nth-child(2) {
  width: 63%;
  position: relative;
}

#leaves .leaves__img:nth-child(3) {
  width: 45%;
  bottom: 0;
  z-index: 20;
  left: 0;
}

#leaves .leaves__img:nth-child(4) {
  width: 75%;
  z-index: 25;
  left: 0;
  transform-origin: top left;
}

#leaves .leaves__img:nth-child(5) {
  right: 17%;
  width: 70%;
  z-index: 20;
  transform-origin: left;
}

#leaves .leaves__img:nth-child(6) {
  right: 0;
  width: 70%;
  transform-origin: top right;
}

#leaves .leaves__img:nth-child(7) {
  width: 35%;
  right: 0;
  transform-origin: right;
}

#leaves .leaves__img:nth-child(8) {
  width: 58%;
  right: 0;
  bottom: 0;
  z-index: 20;
  transform-origin: right;
}

.leaves__img.ghost_fixer {
  opacity: 0;
  width: 58%;
  right: 0;
  bottom: 0;
  z-index: 20;
}

#loftRestaurant {
  min-height: calc(100vH + 2px);
  overflow-y: visible;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start !important;
}

#loftRestaurant__stonewall-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background-image: url(../../assets/images/stonewall.jpg);
  background-size: cover;
}

.loftRestaurant__container {
  width: 100%;
  height: 100vH;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

#loftRestaurant, #loftRestaurant .crystal-wrapper, #loftRestaurant .crystal-zodiac-wrapper {
  display: flex;
  justify-content: center;
}

#loftRestaurant .crystal-wrapper {
  height: 50%;
  position: relative;
  z-index: 25;
}

#loftRestaurant .crystal-wrapper img:not(.crystal-ghost-fixer) {
  position: relative;
  height: auto;
  top: 0;
  width: auto;
  height: 100%;
}

#loftRestaurant .crystal-wrapper .crystal-ghost-fixer {
  position: relative;
  top: 100px;
  opacity: 0;
}

#loftRestaurant h2 {
  text-align: center;
  margin-top: 55px;
  margin-bottom: 50px;
  position: relative;
  z-index: 55;
  opacity: 0;
}

#loftRestaurant #knifeandhat {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}

#loftRestaurant #knifeandhat .knife {
  width: 33%;
  position: relative;
  margin-left: 62%;
  top: 20%;
}

#loftRestaurant #knifeandhat .hat {
  width: 33%;
  position: relative;
  margin-left: 9%;
  top: 14%;
}


#loftRestaurant .crystal-zodiac-wrapper {
  max-width: 65%;
  align-items: center;
  position: relative;
  z-index: 30;
  width: 100%;
}

#loftRestaurant .bg-left {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 20;
}

#loftRestaurant .bg-right {
  position: absolute;
  top: 0;
  right: 0;
  height: 110%;
  width: 100%;
  z-index: 20;
}

#loftRestaurant .bg-right > div, #loftRestaurant .bg-left > div {
  height: 100%;
}

#loftRestaurant .bg-left img {
  height: 97%;
  position: absolute;
  top: 0%;
  left: 0;
  max-width: 46%;
  object-fit: cover;
  object-position: right;
}

#loftRestaurant .bg-right img {
  height: 97%;
  position: absolute;
  top: 0%;
  right: 0;
  max-width: 46%;
  object-fit: cover;
  object-position: left;
}

#loftRestaurant .crystal-zodiac-wrapper a, #loftRestaurant .crystal-zodiac-wrapper img {
  width: 100%;
}

#loftRestaurant .crystal-chain {
  z-index: 15;
}

#loftRestaurant__bg-black-gradient {
  height: 100%;
}

#loftRestaurant .crystal-zodiac-wrapper > div {
  position: relative;
  padding: 10px;
}

#loftRestaurant .crystal-zodiac-wrapper .crystal-zodiac-wrapper__main-img {
  opacity: 0;
}

#loftRestaurant .crystal-zodiac-wrapper .crystal-zodiac-wrapper__noglow-img {
  position: absolute;
  top: 10px;
  left: 10px;
  /* padding: 10px; */
  width: calc(100% - 20px);
  opacity: 0;
}

#pizza {
  min-height: 100vH;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 4;
}

#pizza .bg-blue-stonewall {
  background-image: url('../images/blue-wall.jpg');
  background-size: cover;
  background-position: bottom;
  z-index: 10;
}

#pizza .bg-blue-stonewall, #pizza .bg-black-gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#pizza .pizza-tagliere-wrapper {
  position: relative;
  z-index: 25;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#pizza .pizza-tagliere-wrapper h2 {
  position: absolute;
  text-align: center;
  width: 100%;
  opacity: 0;
  z-index: 55;
}

#pizza #tagliere {
  width: 51%;
  max-width: 800px;
}

#pizza #pizza-full {
  position: absolute;
  width: 50%;
  max-width: 800px;
  opacity: 0;
}

#pizza .pizza-slices {
  position: absolute;
  width: 50%;
  max-width: 800px;
  top: 0;
}

#pizza .pizza-slice {
  width: 100%;
  position: absolute;
}

#pizza .pizza-chef-hat {
  position: absolute;
  right: 3%;
  top: 3%;
  width: 30%;
}

.pizza-cactus img {
  position: absolute;
  left: 3%;
  top: -33%;
  height: 66%;
  z-index: 27;
  object-fit: contain;
  max-width: 60%;
}

#pizza .pizza-chef-hat__img {

}

#pizza .pizza-cactus__img {
  
}

#ventagli-oriental__wrapper {
  position: relative;
  background-image: url('../images/oriental-bg.jpg');
  background-size: cover;
  background-position: bottom center;
  z-index: 20;
  opacity: 0;
}

#ventagli, #oriental {
  height: calc(100vH + 2px);
  width: 100%;
  overflow: visible;
  position: relative;
  display: flex;
  z-index: 30;
}

#oriental {
  align-items: center;
  justify-content: center;
}

#oriental h2 {
  opacity: 0;
  position: relative;
  z-index: 55;
}

#ventagli {
  position: absolute;
  z-index: 40;
  height: 100%;
}

#ventagli img {
  position: absolute;
}

#ventagli-oriental__bg-black-gradient-top, #secondaclasse__wrapper__bg-black-gradient-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 17%;
  z-index: 15;
  background: linear-gradient(to bottom, transparent, rgb(0 0 0 / 71%) 49%, transparent);
  z-index: 25;
}

#secondaclasse__wrapper__bg-black-gradient-top {
  background: linear-gradient(to bottom, transparent, rgb(0 0 0 / 91%) 49%, transparent);
  top: -8.5%;
}

#ventaglio_1 {
  right: 0%;
  height: 100%;
  transform-origin: right;
}

#ventaglio_2 {
  right: 12%;
  height: 116%;
  top: 5%;
}

#parasol_1 {
  left: -1%;
  height: 64%;
  bottom: -21%;
  max-width: 40%;
  object-fit: contain;
}

#parasol_2 {
  left: 13%;
  height: 87%;
  bottom: -2%;
  max-width: 50%;
  object-fit: contain;
}

#parasol_3 {
  left: -20%;
  height: 97%;
  top: 0%;
  max-width: 73%;
  object-fit: contain;
}

#parasol_4 {
  left: 23%;
  height: 90%;
  top: -7%;
  max-width: 73%;
  object-fit: contain;
}

#parasol_5 {
  left: 61%;
  height: 72%;
  top: -5%;
  max-width: 65%;
  object-fit: contain;
}

#parasol_6 {
  left: 23%;
  height: 62%;
  top: 45%;
  max-width: 48%;
  object-fit: contain;
}

#parasol_7 {
  left: 53%;
  height: 69%;
  bottom: -6%;
  max-width: 73%;
  object-fit: contain;
}

#parasol_8 {
  right: -16%;
  height: 56%;
  top: 38%;
  max-width: 41%;
  object-fit: contain;
}

#parasol_9 {
  left: 3%;
  height: 74%;
  bottom: 26%;
  max-width: 73%;
  object-fit: contain;
}

#parasol_1, #parasol_2, #parasol_3 {

}

#samurai-mask {
  height: 99%;
  position: absolute;
  left: -55%;
  bottom: -24%;
}

#umbrella {
  height: 45%;
  position: absolute;
  right: 23%;
  top: 20%;
}

#north-bottom-right-fan {
  height: 99%;
  position: absolute;
  right: -55%;
  bottom: -53%;
}

#secondaclasse__wrapper {
  background-image: url('../images/secondaclasse-bg.jpg');
  background-size: cover;
  background-position: top center;
  position: relative;
}

#secondaclasse__railway, #secondaclasse__main {
  height: calc(100vH + 2px);
  width: 100%;
  overflow: visible;
  position: relative;
  z-index: 30;
  display: flex;
  align-items: center;
}

#secondaclasse__main {
  justify-content: center;
}

#secondaclasse__main .secondaclasse-text {
  width: 100%;
  max-width: 53%;
  opacity: 0;
}

#secondaclasse__railway #bistecca-left {
  position: absolute;
  width: 30%;
  left: -3%;
  bottom: -25vW;
  transform: translateY(-50%);
  max-width: 600px;
  height: auto;
}

#secondaclasse__railway #bistecca-topright {
  position: absolute;
  bottom: 10vH;
  width: 85%;
  right: -25%;
  top: 50%;
  transform: translateY(-50%);
  max-width: 925px;
}

#secondaclasse__railway #railway {
  width: 100%;
}

#guitar {
  position: absolute;
  height: 40%;
  top: 5vH;
  left: 7%;
}

#batteria {
  position: absolute;
  height: 42%;
  bottom: 0;
  left: 4%;
}

#bistecca-bottomright {
  position: absolute;
  height: 37%;
  top: 32%;
  right: -18vH;
}

#train {
  position: absolute;
  bottom: 0;
  right: -900%;
  height: 60%;
}

#secondaclasse-railway {
  position: absolute;
  bottom: -1%;
  left: 0;
  width: 100%;
}

#train {
  position: absolute;
  bottom: -1%;
  right: -43%;
  height: 77%;
}

#boutique__wrapper {
  background-image: url('../images/boutique-hotel-bg.jpg');
  background-size: cover;
}

#roses, #boutique-hotel {
  height: 100vH;
  width: 100%;
  overflow: visible;
  position: relative;
  z-index: 25;
}

#roses {
  z-index: 30;
}

#roses #roses-black-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, black 90%, transparent);
}

#rosesAndHorses {
  height: 100%;
}

#rosesAndHorses #rosa-left {
  position: absolute;
  left: -17vH;
  top: 0;
  height: 107%;
  width: auto;
  z-index: 25;
}

#rosesAndHorses #rosa-right {
  position: absolute;
  right: -17vH;
  top: 0;
  height: 107%;
  width: auto;
  z-index: 25;
}

#boutique-hotel {
  display: flex;
  align-items: center;
  justify-content: center;
}

#boutique-hotel #horse_1 {
  position: absolute;
  left: 13%;
  top: -35%;
  height: 100%;
  width: auto;
  z-index: 20;
}

#boutique-hotel #horse_2 {
  position: absolute;
  right: 15%;
  top: -35%;
  height: 100%;
  width: auto;
  z-index: 20;
}

#hotel_spento, #hotel_acceso {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -15vH;
  height: 100%;
}

#hotel_acceso {
  opacity: 0;
}

.boutique-hotel__paperelle {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.boutique-hotel__paperelle #paperella_sx {
  position: absolute;
  bottom: 2%;
  left: -4%;
  height: 46%;
}

.boutique-hotel__paperelle #paperella_dx {
  position: absolute;
  bottom: 7%;
  right: 20vH;
  height: 36%;
}

#boutique-hotel h2 {
  opacity: 0;
  position: relative;
  z-index: 55;
}

#pasticceria-gelateria {
  height: 100vH;
  width: 100%;
  overflow: visible;
  position: relative;
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;
}

#lamp-one__container {
  position: absolute;
  left: 3%;
  top: -7%;
  height: 28%;
}

#lamp-two__container {
  position: absolute;
  left: 9%;
  top: -9%;
  height: 23%;
}

#lamp-three__container {
  position: absolute;
  left: 5%;
  top: -7%;
  height: 33%;
}

#lamp-four__container {
  position: absolute;
  left: 12%;
  top: -9%;
  height: 26%;
}


#palla-ice-rosa__container {
  position: absolute;
  top: -35%;
  right: -15%;
  width: 9%;
  max-width: 125px;
}

#macaron-rosa__container {
  position: absolute;
  top: -35%;
  right: -5%;
  width: 5%;
  max-width: 110px;
}

#macaron-green__container {
  position: absolute;
  right: 19%;
  bottom: 55%;
  height: 27%;
}

#icecream__container {
  position: absolute;
  right: -9%;
  bottom: 50%;
  height: 41%;
}

#torta__container {
  position: absolute;
  left: 6%;
  bottom: 49%;
  height: 30%;
}

#pasticceria-gelateria h2 {
  opacity: 0;
  position: relative;
  z-index: 55;
}

#shop {
  background-image:  url('../../assets/images/shop-bg.jpg');
  background-size: cover;
  background-position: bottom;
  position: relative;
  z-index: 15;
  display: flex;
  align-items: center;
  justify-content: center;
}

#luci__container {
  position: absolute;
  top: 0;
  height: 85%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#borsa__container {
  position: absolute;
  bottom: -4%;
  height: 35%;
  left: 28%;
}

#coniglio__container {
  position: absolute;
  top: -25%;
  right: -50%;
  height: 35%;
}

#manichino__container {
  position: absolute;
  bottom: 0;
  right: 15%;
  height: 69%;
}

#moto__container {
  position: absolute;
  bottom: 0;
  right: -50%;
  height: 51%;
}

#vestiti__container {
  position: absolute;
  bottom: -15%;
  left: -8%;
  height: 74%;
}

#scarpa-one__container {
  position: absolute;
  top: -33%;
  left: -45%;
  height: 20%;
}

#scarpa-two__container {
  position: absolute;
  top: -36%;
  left: -44%;
  height: 17%;
}

#lamp__container, #divano__container, #cassaforte__container, #frame__container, #bamboo__container, #coniglio-arearredo__container  {
  position: absolute;
}

#shop h2 {
  opacity: 0;
  position: relative;
  z-index: 55;
}

#arearredo {
  background-image:  url('../../assets/images/arearredo-bg.png');
  background-size: cover;
  background-position: bottom;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#divano__container {
  bottom: -6%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 45%;
}

#cassaforte__container {
  bottom: 0;
  display: flex;
  justify-content: center;
  height: 38%;
  right: -33%;
}

#bamboo__container {
  bottom: -6%;
  display: flex;
  justify-content: center;
  height: 56%;
  left: -16%;
}

#frame__container {
  top: -3%;
  right: 2%;
  height: 41%;
}

#coniglio-arearredo__container {
  left: -30%;
  height: 32%;
  top: -33%;
}

#lamp-senzaluce__container, #lamp-conluce__container {
  bottom: 0%;
  display: flex;
  justify-content: center;
  height: 65%;
  left: 0%;
  position: absolute;
}

#lamp-conluce__container {
  opacity: 0;
}

#arearredo h2 {
  opacity: 0;
  position: relative;
  z-index: 55;
}